.u-section-1 {
  background-image: url("images/pexels-photo-149369.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 709px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 411px 530px 60px 118px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin: 600px 146px 0 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 256px;
    margin-left: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 346px;
    margin-left: 250px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 350px;
    margin-right: 350px;
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2533px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}