.u-section-1 {
  background-image: url("images/0f9ae79b-501b-49d8-ab68-f3362686faae.jpg");
  background-position: 100% 1.79%;
}

.u-section-1 .u-sheet-1 {
  min-height: 777px;
}

.u-section-1 .u-group-1 {
  width: 634px;
  min-height: 502px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 100px;
  font-weight: 700;
  line-height: 2.2;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 50px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 1.5rem;
  margin: 30px 343px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-group-1 {
    width: 534px;
    min-height: 401px;
    margin-top: 70px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 83.31% 31.1%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-group-1 {
    width: 334px;
    min-height: 376px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    letter-spacing: 60px;
    margin-top: 52px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 100% 43.59%;
    background-size: auto 145%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 89px;
  }
}.u-section-2 {
  min-height: 617px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 617px;
  background-image: url("images/8aebc8e6-e688-4651-b408-5fcb52257436.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 456px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0 225px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.u-section-2 .u-image-2 {
  min-height: 617px;
  background-image: url("images/cc0d90c8-1ac3-4ae9-bf6a-8bb94b303edf.jpeg");
  background-position: 50% 50%;
  background-size: 125%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 415px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 244px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 352px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 509px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 356px;
  }

  .u-section-2 .u-image-2 {
    min-height: 509px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 315px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 247px;
  }

  .u-section-2 .u-image-1 {
    min-height: 390px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 246px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 116px;
  }

  .u-section-2 .u-image-2 {
    min-height: 390px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 205px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1170px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 585px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 585px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 736px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 368px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 46px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 368px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 5px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 636px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 62px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 7px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("images/141133570_101795505181104_5344603997625229000_n.jpg");
  background-position: 50% 0%;
  margin: 0 -16px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px -39px 0 -21px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 200px;
  height: 200px;
  background-image: url("images/91ad1a1e-d9b9-4e80-90c2-c78f8b527cad.png");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 200px;
  height: 200px;
  background-image: url("images/118696751_2769163913365708_563455405124664837_n.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px -18px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 200px;
  height: 200px;
  background-image: url("images/123589704_1657197424462570_4419920497708437802_o.jpg");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-3 .u-text-6 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 15px 0 7px;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 342px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 200px;
  height: 200px;
  background-image: url("images/e6bc3ed6-ee9d-45c4-b8e0-b56ffdec548d.png");
  background-position: 50% 50%;
  margin: 0 -16px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 9px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px -30px 0 -16px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-3 .u-text-1 {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 586px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-3 .u-image-1 {
    width: 175px;
    height: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: NaNpx;
  }

  .u-section-3 .u-image-2 {
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 255px;
  }

  .u-section-3 .u-image-3 {
    width: 175px;
    height: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 265px;
  }

  .u-section-3 .u-image-4 {
    width: 175px;
    height: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 255px;
  }

  .u-section-3 .u-image-5 {
    width: 175px;
    height: 175px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-3 .u-text-1 {
    width: 490px;
    margin-top: 68px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 59px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1368px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 25px;
    margin-right: 25px;
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 371px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin: 9px 0 46px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 71px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
}