.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1049px;
}

.u-section-1 .u-group-1 {
  width: 325px;
  left: 245px;
  right: auto;
  min-height: 715px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 134px;
  margin-bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("np://user.desktop.nicepage.com/Site_921226995/images/pexelsphoto2228122.jpg");
  min-height: 905px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 387px 300px 0 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 905px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 79px 12px 0 28px;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  margin: 12px 12px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-1 .u-group-1 {
    width: 268px;
    left: 202px;
    min-height: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 746px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 205px;
    left: 128px;
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-1 .u-group-1 {
    width: 192px;
    left: auto;
    right: 0;
    min-height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    z-index: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 27px;
  }

  .u-section-1 .u-layout-cell-2 {
    z-index: 2;
  }

  .u-section-1 .u-text-3 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 170px;
    min-height: 715px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 20px 0 0 auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -944px;
    margin-bottom: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 1px;
    margin-right: 1px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1076px;
  margin: 53px auto 60px 25px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 921px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 7px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 0 8px 0 -8px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 922px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 4px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-2 .u-text-4 {
  line-height: 2;
  font-size: 1.125rem;
  animation-duration: 1000ms;
  margin: 39px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 25px 0 0;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  line-height: 2;
  background-image: none;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1727px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 805px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 806px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 409px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}