.u-section-1 {
  min-height: 687px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -8px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 463px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 104px -50px 0 50px;
}

.u-section-1 .u-text-2 {
  margin: 22px -50px 0 50px;
}

.u-section-1 .u-image-1 {
  min-height: 232px;
  background-image: url("images/pexels-photo-4535243.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 565px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 1208px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    min-height: 146px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1569px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 110px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1237px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 277px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1351px;
}

.u-section-2 .u-group-1 {
  background-image: none;
  min-height: 218px;
  margin: 246px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 890px;
  margin: -293px auto 60px 125px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 595px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 385px;
  height: 426px;
  object-position: 50% 74.16%;
  background-position: 50% 74.16%;
  margin: 0 auto 0 -65px;
}

.u-section-2 .u-image-2 {
  width: 316px;
  height: 387px;
  margin: -426px auto 0 600px;
}

.u-section-2 .u-image-3 {
  width: 412px;
  height: 477px;
  margin: -299px 221px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 20px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 20px 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 555px;
}

.u-section-2 .u-container-layout-5 {
  padding: 40px 20px 0;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 815px;
    margin-top: -325px;
    margin-left: auto;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 331px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -374px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 377px;
    height: 410px;
    margin-top: -225px;
    margin-right: auto;
    margin-left: 215px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 651px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-2 .u-image-3 {
    width: 290px;
    height: 379px;
    margin-top: -252px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 491px;
    margin-top: -293px;
    margin-left: 25px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 361px;
  }

  .u-section-2 .u-image-1 {
    width: 249px;
    height: 280px;
  }

  .u-section-2 .u-image-2 {
    width: 256px;
    height: 346px;
    margin-top: -324px;
  }

  .u-section-2 .u-image-3 {
    margin: -211px auto -13px 43px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 147px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 287px;
    margin-top: -268px;
    margin-bottom: 50px;
    margin-left: 27px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-image-1 {
    width: 188px;
    height: 241px;
  }

  .u-section-2 .u-image-2 {
    width: 193px;
    height: 294px;
    margin-top: -233px;
  }

  .u-section-2 .u-image-3 {
    width: 226px;
    height: 295px;
    margin-top: -127px;
    margin-bottom: 0;
    margin-left: 18px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  min-height: 617px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 617px;
  background-image: url("images/50FreeDarkAcademiaWallpaperForiPhoneOptions_.jpeg");
  background-position: 50% 0%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0 225px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 617px;
  background-image: url("images/pexels-photo-45453294.jpeg");
  background-position: 50% 50%;
  background-size: 125%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-4 {
  margin: 20px 244px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 509px;
  }

  .u-section-3 .u-image-2 {
    min-height: 509px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 247px;
  }

  .u-section-3 .u-image-1 {
    min-height: 390px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 116px;
  }

  .u-section-3 .u-image-2 {
    min-height: 390px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1170px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -61px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 585px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 585px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 736px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 368px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 368px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}