.u-section-1 {
  background-image: url("images/76311a9f-fb30-4422-9e82-6b3686c06f5e.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 522px 458px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    color: rgb(255, 255, 255) !important;
    margin-right: 258px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 228px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 226px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0 -7px 0 623px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 16px -7px 0 7px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-2 .u-text-1 {
    width: 464px;
    margin-top: 8px;
    margin-right: -14px;
    margin-left: 68px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -14px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: 372px;
    margin-top: 156px;
    margin-right: -10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -245px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -151px;
    margin-right: -23px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 320px;
    margin-top: 76px;
    margin-right: -14px;
    margin-left: 243px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -289px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 948px;
}

.u-section-3 .u-text-1 {
  margin: 20px 1140px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -75px 811px 0 80px;
}

.u-section-3 .u-image-1 {
  width: 80px;
  height: 80px;
  margin: -72px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 942px;
  height: 758px;
  margin: 15px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -66px;
    margin-right: 691px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 570px;
    margin-top: 13px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 471px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -164px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 291px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 718px;
    margin-top: -269px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -53px;
    margin-right: 91px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 452px;
    margin-top: -151px;
  }
}.u-section-4 {
  min-height: 1114px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 749px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 33px;
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 54px 27px 0 70px;
}

.u-section-4 .u-text-2 {
  margin: 46px 77px 0 70px;
}

.u-section-4 .u-layout-wrap-2 {
  width: 1220px;
  margin: -44px calc(((100% - 1140px) / 2) + -68px) 5px auto;
}

.u-section-4 .u-image-1 {
  min-height: 399px;
  background-image: url("images/797020d8-5715-4854-9b24-bc6de8996b98.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 888px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 618px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 162px;
    margin-right: 124px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-top: 26px;
    margin-right: 63px;
    margin-left: 58px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 307px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 665px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 362px;
    margin-right: 51px;
    margin-left: 32px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 55px;
    margin-right: 49px;
    margin-left: 44px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 549px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 240px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 40px;
    margin-right: 36px;
    margin-left: 33px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 420px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 267px;
    margin-right: 17px;
    margin-left: 42px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 46px;
    margin-right: 23px;
    margin-left: 21px;
  }

  .u-section-4 .u-layout-wrap-2 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-image-1 {
    min-height: 155px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 838px;
}

.u-section-5 .u-text-1 {
  width: 286px;
  font-weight: 700;
  background-image: none;
  animation-duration: 1000ms;
  margin: 17px auto 0;
}

.u-section-5 .u-text-2 {
  width: 286px;
  animation-duration: 1000ms;
  margin: 0 auto;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 649px;
  margin: 28px auto 50px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-top: -81px;
    margin-right: 0;
    margin-left: 654px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 54px;
    margin-right: 206px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 434px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 254px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 615px;
    margin-right: auto;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -68px;
    margin-left: 54px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 387px;
    margin-left: 400px;
  }
}.u-section-6 {
  min-height: 817px;
}

.u-section-6 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 379px);
  height: 154px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -154px auto 20px;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 64px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 64px;
  background-image: none;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 733px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  margin: 56px -8px 0 8px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 733px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 9px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 20px 0;
}

.u-section-6 .u-text-4 {
  font-size: 0.875rem;
  margin: 20px 8px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 636px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(507px + ((100% - 940px) / 2));
    height: 428px;
    position: relative;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 53px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 53px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 604px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 604px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 7px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: -38px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 196px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(537px + ((100% - 720px) / 2));
    height: 475px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 41px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 41px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 388px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 9px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 336px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 39px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 39px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 3px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 8px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 485px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 80px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 0.875rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 485px;
}

.u-section-7 .u-shape-1 {
  height: 528px;
  background-image: none;
  margin-top: -45px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-image-1 {
  width: 458px;
  height: 452px;
  margin: -483px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 9px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-7 .u-shape-1 {
    height: 722px;
    position: relative;
    margin-top: -98px;
    margin-right: initial;
  }

  .u-section-7 .u-image-1 {
    width: 382px;
    height: 624px;
    position: absolute;
    margin-top: -624px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-7 .u-shape-1 {
    height: 403px;
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-7 .u-image-1 {
    width: 289px;
    height: 403px;
    margin-top: -338px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 59px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-7 .u-shape-1 {
    height: 582px;
    margin-right: initial;
  }

  .u-section-7 .u-image-1 {
    width: 444px;
    left: auto;
    right: 0;
    height: auto;
    margin: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 440px;
  }

  .u-section-7 .u-shape-1 {
    height: 528px;
    margin-top: -45px;
    margin-right: initial;
  }

  .u-section-7 .u-image-1 {
    width: 283px;
    height: 361px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 79px 0 0 auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 17px;
}