.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("images/CAMBIEGARDENSCONRADBROWN.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 725px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 456px;
  margin: 99px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 82px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  margin: -47px 78px 45px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-group-1 {
    width: 539px;
    min-height: 423px;
    margin-top: 88px;
    margin-bottom: 40px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    font-style: normal;
    margin-bottom: 50px;
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    height: 45px;
    margin-right: 227px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 64px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 66.98% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-group-1 {
    width: 453px;
    min-height: 482px;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 181px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -15px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 72.05% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-group-1 {
    min-height: 423px;
    width: 432px;
    margin-top: 28px;
    margin-bottom: 55px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 40px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 170px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -24px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 73.6% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-1 .u-group-1 {
    min-height: 500px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin: 20px auto 50px 0;
    padding: 10px 64px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 448px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 325px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  position: relative;
  line-height: 2;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 325px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  position: relative;
  font-style: normal;
  text-decoration: underline !important;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 223px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}